:root{
  --couleur-rouge-fonce: rgb(192,0,0);
  --couleur-rouge-clair: rgb(246,217,217);
  --couleur-vert-fonce: rgb(112,173,71);
  --couleur-vert-clair: rgb(219,234,209);
  --couleur-bleu-fonce: rgb(46,117,182);
  --couleur-bleu-clair: rgb(214,230,244);
  --couleur-jaune-fonce: rgb(191,144,0);
  --couleur-jaune-clair: rgb(255,239,191);
  --couleur-violet-fonce: rgb(112,48,160);
  --couleur-violet-clair: rgb(234,224,241);
}
body{
    justify-content: center;
    font-family: 'Agency FB', sans-serif;
    color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img {
    width: 15%;
    height: 15%;
}

/* I want centered div */
div {
    display: flex;
    margin: 10px;
    justify-content: center;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 18   0px;
}

.menu_button img{
    width: 15%;
    height: 15%;
    float: left;
    display: flex;
    justify-content: center; /*Don't do anything?*/
    margin-right: 10px;
    padding: 5px;
    }
